/Saved
/Intermediate
/.vs
/Build
/Plugins
*.sln
*._BuiltData.Uasset
/Content/ScienceLab
/Content/ToolShedVOL1
/Content/IndustryPropsPack5
/Content/Bunker
/Content/Seaside_Town
/Content/IndustryPropsPack4
/Content/FantasyVillage
/Content/AbandonedFactory
/Content/WaterMill
/Content/LICoO2/MapC_BuiltData.uasset
